@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mina:wght@400;700&display=swap');

body{

margin:0;
font-family:Segoe UI;
color:white;
background:#20405E;
overflow-x:hidden;
padding-top:80px;
  
}

canvas{

position:fixed;
top:0;
left:0;
z-index:-1;

}

.hero{

text-align:center;
padding:120px 20px;

}

.avatar{

width:180px;
border-radius:50%;
box-shadow:0 10px 40px rgba(0,0,0,0.5);

}

h1{

font-size:48px;
color:#FFE8CF;

}

h2{

text-align:center;
margin-top:50px;
color:#FFFFFF;

}

.intro{

max-width:700px;
margin:auto;

}

section{

padding:80px 10%;

}

.glass{

background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
border-radius:20px;

}

.grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:40px;

}

ul{

list-style:none;
padding:0;

}

li{

background:#154c86;
margin:8px 0;
padding:10px;
border-radius:8px;

}

.card{

display:flex;
gap:20px;
margin:40px 0;
align-items:center;

background:rgba(255,255,255,0.08);
padding:20px;
border-radius:16px;

}

.card img{

width:220px;
border-radius:12px;

}

.contact{

text-align:center;
background:#072a4a;

}

.btn{

display:inline-block;
margin-top:20px;
background:#FFD66B;
color:#0b3c6d;
padding:12px 28px;
border-radius:8px;
text-decoration:none;
font-weight:bold;

}

.exp img{
width: 220px;
height: auto;
border-radius: 12px;
object-fit: cover;
}

.exp{
display: flex;
gap: 20px;
align-items: center;
margin-bottom: 40px;
}

/* NAVBAR */

.navbar{
position: fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 50px;
background:#A6C0DF;
z-index:10;
}

.logo{
color:white;
font-size:28px;
font-weight:bold;
letter-spacing:2px;
}

.nav-links{
list-style:none;
display:flex;
gap:40px;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:600;
letter-spacing:1px;
}
